# Core
python-dotenv>=1.0.0

# NLP / Compliance
spacy>=3.7.0

# RAG 
langchain>=0.1.0
chromadb>=0.4.0
langchain-text-splitters
langchain-community

# Embeddings / Models
sentence-transformers>=2.2.0

# Utilities
tqdm>=4.66.0
pypdf>=4.0.0

#LLM
transformers>=4.38.0
torch>=2.0.0
accelerate>=0.27.0
sentencepiece>=0.1.99

